body {
    background-color: #e6ccfd; /* Light lilac color */
    margin: 5;
    font-family: 'Times New Roman', Times, serif;
}

    /* Style for the header */
header {
    background-color: #47325a;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Add margin for spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 
                 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 3px 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
                2px 2px 4px rgba(0, 0, 0, 0.2), 
                3px 3px 6px rgba(0, 0, 0, 0.2);
}

header nav {
    background-color: #3c97c5;
    color: white;
    text-align: center;
    padding: 1px;
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Add margin for spacing */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
                2px 2px 4px rgba(0, 0, 0, 0.2), 
                3px 3px 6px rgba(0, 0, 0, 0.2);
}

nav a {
    color: white; 
    font-family: 'Arial Black', Arial, sans-serif;
    text-transform: uppercase; /* Transform text to uppercase */
    text-align:center;
    text-decoration: none;
    margin: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 
                 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 3px 3px 6px rgba(0, 0, 0, 0.3);
}

hr {
    width: 100%; /* Set the width of hr */
    margin: 10px; /* Center the hr with auto margins */
    border: none; /* Remove default border */
    height: 5px; /* Set height for visual thickness */
    background-color: #ca97f7 ; /* Set the color of hr */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
                2px 2px 4px rgba(0, 0, 0, 0.2), 
                3px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Style for the main section */
main {
    background-color: e6ccfd;
    color: black;
    padding: 5px;
    margin-bottom: 150px;
}

main h2 {
    color: rgb(162, 0, 0); /* Indigo color for h2 headings */
    font-family: 'Arial Black', Arial, sans-serif;
    text-transform: uppercase; /* Transform text to uppercase */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
}

main p {
    font-family: 'Arial';
    font-size: large;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
    padding: 0%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
                2px 2px 4px rgba(0, 0, 0, 0.2), 
                3px 3px 6px rgba(0, 0, 0, 0.2);
}

main b{ 
    text-transform: uppercase;
    font-family: Arial;
}

main ul {
    font-family: Arial;
    font-size: large;
}

/* Style for the footer */
footer {
    background-color: #69527c; /* Darker gray */
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Add margin for spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 
                 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 3px 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.2), 
                 2px 2px 4px rgba(0, 0, 0, 0.2), 
                 3px 3px 6px rgba(0, 0, 0, 0.2);
}

footer div {
    font-family: 'Arial';
    font-size: small;
}

footer i {
    text-transform: uppercase; /* Transform text to uppercase */
}